# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# VSCode
.vscode/

# Environment variables
.env

# Databases
*.db
*.sqlite3

# macOS
.DS_Store

# Logs
*.log

# Exclude batch scripts
*.bat

# Exclude text files (e.g., cookies)
*.txt
